/******************************************************************************
 * Content
 ******************************************************************************/

 // main site content
body {
  padding: 0;
  margin: 0;
//  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}


// About page
body.about {
  background-image: url('../img/home-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-bottom: 0;
  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}


div.clearfix {
  background-color: var(--global-bg-color);
  width: 100%; //99.5vw; //$max-content-width;
  font-size: 120%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 50px;
  margin-right: 0;
}


// Profile
.profile {
  img {
    width: 100%;
  }
}


// Nav-bar and headers
.container {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: $max-article-width;
//  background-color: var(--global-bg-color);
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  // this pushes down the position of research and people titles 
  padding-top: 100px;
}





//.post-header {
//  margin-left: 40px;
//}

// Cover Image 
header.intro-header {
  height: 99vh; //viewheight
  position: relative;
  margin-bottom: 50px;
  color: var(--global-bg-color);
}


.header-text {
  padding: 0;
  margin-top: 0px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7); /* Black background with 0.7 opacity */
}



// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
