---
layout: default
---
<!-- page.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {% if page.person %}
    <!--- to render the people pages correctly-->
    <div class="row">
      <div class="col-md-auto">
        {% include people_figure.html path=page.img %}
      </div>
      <div class="col">
        <p>
          {{ content }}
        </p>
        {%- if page.email -%}
        <p><a href="mailto:{{ page.email }}">{{ page.email }}</a></p>
        {% endif %}
        {%- if page.tel -%}
        <p>{{ page.tel }}</p>
        {% endif %}
      </div>
    </div>
    {%-else-%}
    {{ content }}
    {%-endif-%}
  </article>

</div>